.part1 h2{
    color:red;
}
.part1 p{
    background-color: black;
    color: white;
}

.part2 h2{
    color:green;
}
.part2 p{
    background-color: red;
    color: green;
}

.part3 p{
    color: green;
}

.part4 > p{
    color: green;

}